<footer>
  <div class="container-fluid border-top">
    <div class="container">
      <div
        class="parte-inicial-footer mt-4 gy-4 row flex-wrap justify-content-start justify-content-lg-between">
        <section class="col-6 col-md-4 col-lg-3">
          <h2>Acerca de</h2>
          <h3>Sobre Change.org</h3>
          <h3>Impacto</h3>
          <h3>Empleo</h3>
          <h3>Equipo</h3>
        </section>
        <section class="col-6 col-md-4 col-lg-3">
          <h2>Comunidad</h2>
          <h3>Prensa</h3>
          <h3>Normas de la comunidad</h3>
        </section>
        <section class="col-6 col-md-4 col-lg-3">
          <h2>Ayuda</h2>
          <h3>Guías</h3>
          <h3>Privacidad</h3>
          <h3>Términos</h3>
          <h3>Declaración de accesibilidad</h3>
          <h3>Política de cookies</h3>
          <h3>Gestionar Cookies</h3>
        </section>
        <section class="col-6 col-md-4 col-lg-3">
          <h2>Redes sociales</h2>
          <h3>X</h3>
          <h3>Facebook</h3>
          <h3>Instagram</h3>
          <h3>TikTok</h3>
        </section>
      </div>
      <div class="parte-final-footer mt-4 pt-4 border-top">
        <div class="btn-group dropup dropup-idiomas w-100 mb-3">
          <button type="button"
                  class="btn border-1 boton-idioma dropdown-toggle d-flex justify-content-between align-items-center"
                  data-bs-toggle="dropdown" aria-expanded="false">
            Español (España)
          </button>
          <ul class="dropdown-menu">
            <li>Inglés (Reino Unido)</li>
          </ul>
        </div>
        <p class="fw-bold">© 2025, Change.org, PBC</p>
        <p class="fw-lighter">Esta web está protegida por reCAPTCHA y por Google
          <a href="">Política de privacidad</a>
          y
          <a href="">Normas de uso</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
